<h2>Products</h2>
<mat-card
  ><img src="../assets/img/Handschuhe.webp" alt="" />{{
    this.order.handschuhe.length
  }}</mat-card
>
<mat-card
  ><img src="../assets/img/Masken.webp" alt="" />{{
    this.order.desinfektionsmittel.length
  }}</mat-card
>
<mat-card
  ><img src="../assets/img/Desinfektionsmittel.webp" alt="" />{{
    this.order.masken.length
  }}</mat-card
>
<h2>User/Order Information</h2>
<mat-card class="user-card">
  <img class="user-img" src="./assets/img/profile.png" alt="" />
  <span>{{ this.order.user }}</span>
  <span class="order-price">
    Total amount:
    <B
      [class.order-price-peding]="!order.status"
      [class.order-price-paid]="order.status"
      >{{ this.order.price }} CHF</B
    ></span
  >
</mat-card>

<button
  (click)="this.cancelOrder()"
  [routerLink]="['/order/']"
  mat-raised-button
  class="btn-cancel"
>
  Cancel Order
</button>
<button (click)="payedOrder()" class="btn-paid" mat-raised-button>Paid</button>
