<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
    <tr
      *ngFor="let order of allOrders"
      [routerLink]="['/order/' + order.customIdName]"
    >
      <td>{{ this.order.user }}</td>
      <td>peding</td>
      <td>{{ this.order.price }} CHF</td>
    </tr>
  </table>
</mat-card>
<button
  (click)="openDialog()"
  class="add-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
>
  <mat-icon>add</mat-icon>
</button>
