<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Sum</th>
    </tr>
    <tr
      *ngFor="let order of allOrders"
      [routerLink]="['/order/' + order.customIdName]"
      [class.background-color-green]="order.status == true"
      [class.background-color-red]="order.status == false"
    >
      <td>{{ this.order.user }}</td>
      <td>
        <span *ngIf="!order.status">pending</span
        ><span *ngIf="order.status">paid</span>
      </td>
      <td>{{ this.order.price }} CHF</td>
    </tr>
  </table>
</mat-card>
<button
  (click)="openDialog()"
  class="add-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
>
  <mat-icon>add</mat-icon>
</button>
