.add-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

mat-card {
  padding-left: 0;
  padding-right: 0;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgb(231, 74, 74);
    &:hover {
      background-color: rgb(138, 39, 39);
    }
    &:first-child {
      cursor: unset;
      background-color: white;
    }

    &:last-child {
      border-bottom: 0;
    }

    cursor: pointer;

    td {
      height: 48px;

      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      &:first-child {
        padding-left: 16px;
      }
    }

    &:hover {
      background-color: rgb(175, 54, 54);
    }
  }

  th {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 500;
    text-align: start;
  }
}

mat-icon-button {
  padding: 20px;
  z-index: 3;
}
