<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Add Order</h1>
  <div class="grid">
    <mat-card class="products"
      ><img src="../assets/img/Handschuhe.webp" alt="" /><span>Handschuhe</span>
      <div class="last-column">
        <div class="btn-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="deleteProduct(this.order.handschuhe)"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="selectProduct('Handschuhe', this.order.handschuhe, 3)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <span class="product-amount"
          >{{ this.order.handschuhe.length }} pcs
        </span>
      </div>
    </mat-card>
    <mat-card class="products"
      ><img src="../assets/img/Masken.webp" alt="" /> <span>Masken</span>
      <div class="last-column">
        <div class="btn-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="deleteProduct(this.order.masken)"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="selectProduct('Masken', this.order.masken, 6)"
          >
            <mat-icon> add</mat-icon>
          </button>
        </div>
        <span class="product-amount">{{ this.order.masken.length }} pcs </span>
      </div>
    </mat-card>
    <mat-card class="products">
      <img src="../assets/img/Desinfektionsmittel.webp" alt="" /><span
        >Desinfektionmittel</span
      >
      <div class="last-column">
        <div class="btn-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="deleteProduct(this.order.desinfektionsmittel)"
          >
            <mat-icon> remove</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="
              selectProduct(
                'Desinfektionmittel',
                this.order.desinfektionsmittel,
                5
              )
            "
          >
            <mat-icon> add</mat-icon>
          </button>
        </div>
        <span class="product-amount"
          >{{ this.order.desinfektionsmittel.length }} pcs
        </span>
      </div>
    </mat-card>
  </div>

  <h4>Select Client</h4>

  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedUser">
      <mat-option
        *ngFor="let user of users"
        value="{{ user.firstName }} {{ user.lastName }}"
      >
        {{ user.firstName }} {{ user.lastName }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveOrder()">Save</button>
  </div>

  <span class="total-sum"
    >Total amoun: <b>{{ this.finalSum }} CHF</b></span
  >
</div>
