<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Add Order</h1>
  <div class="grid">
    <mat-card class="products"
      ><img src="../assets/img/Handschuhe.webp" alt="" /><span>Handschuhe</span>
      <button (click)="deleteProduct(this.order.handschuhe)">delete</button>
      <button (click)="selectProduct('Handschuhe', this.order.handschuhe, 3)">
        plus
      </button>
      <span class="product-amount"
        >{{ this.order.handschuhe.length }} pcs
      </span></mat-card
    >
    <mat-card class="products"
      ><img src="../assets/img/Masken.webp" alt="" /> <span>Masken</span>
      <button (click)="deleteProduct(this.order.handschuhe)">delete</button>
      <button (click)="selectProduct('Masken', this.order.masken, 6)">
        plus
      </button>
      <span class="product-amount">{{ this.order.masken.length }} pcs </span>
    </mat-card>
    <mat-card class="products">
      <img src="../assets/img/Desinfektionsmittel.webp" alt="" /><span
        >Desinfektionmittel</span
      >
      <button (click)="deleteProduct(this.order.handschuhe)">delete</button>
      <button
        (click)="
          selectProduct('Desinfektionmittel', this.order.desinfektionsmittel, 5)
        "
      >
        plus
      </button>
      <span class="product-amount"
        >{{ this.order.desinfektionsmittel.length }} pcs
      </span>
    </mat-card>
  </div>

  <h4>Select Client</h4>
  <mat-form-field appearance="fill">
    <mat-label>User</mat-label>
    <mat-select [formControl]="selectedUser">
      <mat-select-trigger>
        {{ selectedUser.value ? selectedUser.value[0].firstName : "" }}
        <span
          *ngIf="selectedUser.value?.length > 1"
          class="example-additional-selection"
        >
          (+{{ selectedUser.value.length - 1 }}
          {{ selectedUser.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let user of users"
        [value]="user.firstName + ' ' + user.lastName"
      >
        {{ user.firstName }} {{ user.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveOrder()">Save</button>
  </div>

  <span class="total-sum"
    >Total amoun: <b>{{ this.finalSum }} CHF</b></span
  >
</div>
