.user-detail-header {
  min-height: 250px;
  background-color: rgb(15, 214, 138);
  color: white;
  display: flex;
  align-items: flex-end;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.useres-details {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100px;

  h2 {
    margin-bottom: 0;
  }
}

.pin-right-upper-coner {
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 720px) {
  .user-detail-header {
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
  }

  .useres-details {
    margin: 0;
  }
}
