<mat-card>
  <mat-card-title>App Describtion</mat-card-title>
  <mat-card-content>
    This is a Business application, a Customer Relationship Management (CRM)
    tool for ordering Medical supplies. It can be used to Manage Orders and
    payment of Customers. You can find down below overall Statistics about the
    shop.
  </mat-card-content>
</mat-card>

<mat-card>Chart</mat-card>
<mat-card>
  <span>All Sales: {{ this.finalSum }} CHF</span>
</mat-card>
<mat-card>
  <span>All pending Orders: CHF</span>
</mat-card>
<mat-card>
  <span>All paid Orders: CHF</span>
</mat-card>
