/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-right-16 {
  margin-right: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.dialog-container {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -24px;
    width: 111.5%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 570px) {
  .dialog-container {
    mat-form-field {
      width: 100%;
    }

    .space-between {
      flex-direction: column;
    }
  }
}

.background-color-green {
  background-color: #5add5a91;
  &:hover {
    background-color: #4dca4d91;
  }
}

.background-color-red {
  background-color: #e74a4a8f;
  &:hover {
    background-color: #ca3e3e8f;
  }
}
